body {
  font-size: 100%;
  max-width: 940px;
  margin: 0 auto;
  font-family: sans-serif;

}

#header {
  width: 98%;
  padding: 1%;
  margin: 1%;
  height:150px;
  background-color: yellow;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
 #header h1 a:link{
    text-decoration: none;
  }


/* Navigation Styles */

#main-menu {
	float: right;
	margin-top: -5%;
	padding: 0;
	background-color: #fff;
	text-transform: uppercase;
}
#main-menu ul{
  list-style-type:none;
  padding-left: 10px;
  position: relative;
  float: right
}

#main-menu li {
  float: left
}

#main-menu li a {
  background: #fff;
  text-decoration: none;
  padding: 10 20px;
  display: block
}
#main-menu li a:hover {
  background: skyblue;
  color: black
}
/* Sub Menu Styles */
#main-menu ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear
}

#main-menu ul li:hover ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s
}

#main-menu ul li ul li {
  float: none;
  background: #778899
}

#main-menu ul li ul li a:hover {
  background: magenta
}

#main {
  width: 58%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: left;
  background-color: red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
img {
	max-width: 100%;
	height: auto;
}

#side {
  width: 38%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: right;
  background-color: blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
ul li {
  list-style-type: none;
}


#footer {
  clear:both;
  width: 98%;
  padding: 1%;
  margin: 1%;
  height: 50px;
  background-color: green;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}


/* Responsive Styles */
@media all and (max-width:768px){
 #header {
   background-color: green;
 }
 #main-menu {
   margin-top:-4%;
 }
 #main-menu li a {
		/*padding: 12px 12px 5px 12px;*/
    color: #000;
		font-size:.9em;
		font-weight:500;
}
  #main-menu ul {
    margin: 0;
  }
  
  #main {
    background-color: blue;
    float:none;
    width:98%
  }
    #side {
    background-color: red;
    float:none;
    width:98%
  }
  #footer {
     background-color: yellow;
  }
 
}
@media all and (max-width:500px){
  #header {
   background-color: pink;
 }
  #header h2{
    display: none;
  }
   #main-menu {
   margin-top:-4%;
   }
   #main-menu li a {
		padding: 10px 10px 5px 10px;
		color: #000;
		font-size:1.1em;
		font-weight:500;
    }
  #main {
    background-color: turquoise;
    float:none;
    width:98%
  }
    #side {
   background-color: orange;
    float:none;
    width:98%
  }
  ul li {
  font-size:.8em;
  }
  #footer {

  }
  #footer p {
      font-size:.8em;
  }
  
}