body {
  font-size: 100%;
  max-width: 940px;
  margin: 0 auto;

}

#header {
  width: 98%;
  padding: 1%;
  margin: 1%;
  height:150px;
  background-color: yellow;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
 #header h1 a:link{
    text-decoration: none;
  }
#nav {
	float: right;
	margin-top: -5%;
	padding: 0;
	background-color: #fff;
	text-transform: uppercase;
}
#nav ul {
	margin:0;
	padding:0;
	float: right;
}
#nav li{
	float: left;
}
#nav li a {
		display: block;
		padding: 15px 15px 5px 15px;
		color: #000;
		font-size:1.5em;
		font-weight:500;
}
#main {
  width: 58%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: left;
  background-color: red;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
img {
	max-width: 100%;
	height: auto;
}

#side {
  width: 38%;
  padding: 1%;
  margin: 1%;
  height: 400px;
  float: right;
  background-color: blue;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}
ul li {
  list-style-type: none;
}


#footer {
  clear:both;
  width: 98%;
  padding: 1%;
  margin: 1%;
  height: 50px;
  background-color: green;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box
}



@media all and (max-width:768px){
 #header {
   background-color: green;
 }
 #nav {
   margin-top:-4%;
 }
 #nav li a {
		padding: 12px 12px 5px 12px;
		color: #000;
		font-size:1.25em;
		font-weight:500;
}
  
  
  #main {
    background-color: blue;
    float:none;
    width:98%
  }
    #side {
    background-color: red;
    float:none;
    width:98%
  }
  #footer {
     background-color: yellow;
  }
 
}
@media all and (max-width:500px){
  #header {
   background-color: pink;
 }
  #header h2{
    display: none;
  }
   #nav {
   margin-top:-4%;
   }
   #nav li a {
		padding: 10px 10px 5px 10px;
		color: #000;
		font-size:1.1em;
		font-weight:500;
    }
  #main {
    background-color: turquoise;
    float:none;
    width:98%
  }
    #side {
    background-color: orange;
    float:none;
    width:98%
  }
  ul li {
  font-size:.8em;
  }
  #footer {
     background-color: silver;
  }
  #footer p {
      font-size:.8em;
  }
  
}